{{ attach_library('dap_theme/evaluation-map-css') }}

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h4 style="color:#395360;">Evaluation charts</h4>
      </div>
    </div>
    <p style="font-size: 10px;">Evaluate the spatial distribution of impacts related to different combinations of water portfolios and scenarios.</p>
  </div>
</div>

<div class="row">
  <div class="col">

        <div class="row">
          <div class="col">
            <div class="card bg-primary">
              <div class="card-body p-0">
                <div class="row">
                  <div class="col-3 ms-1">
                    <div class="form-floating">
                      <select class="form-select" id="wpp"></select>
                      <!-- <div class="form-select" id="wpp"></div> -->
                      <label for="wpp">Selected Water portfolio</label>
                    </div>
                  </div>
                  <div class="col-3 ms-1">
                    <div class="form-floating">
                      <select class="form-select" id="scen"></select>
                      <label for="scen">Selected scenario</label>
                    </div>
                  </div>
                  <!-- <div class="col-3 my-1">
                    <div class="form-floating">
                      <select class="form-select" id="ind"></select>
                      <label for="scen">Selected indicator</label>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>

<div class="row">
  <!-- MAP -->
  <div class="col-9">
    <div id="map" class="col-md-12" style="min-width: 150px; height: 75vh"></div>
  </div>

  <!-- Tabs controllers -->
  <div class="col-3">

    <div id="exTab2" >
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="layers-tab" data-bs-toggle="tab" data-bs-target="#layers" type="button" role="tab" aria-controls="layers" aria-selected="true"><i class="fas fa-layer-group"></i> Layers</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="tools-tab" data-bs-toggle="tab" data-bs-target="#tools" type="button" role="tab" aria-controls="tools" aria-selected="false"><i class="fas fa-toolbox"></i> Tools</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="false"><i class="fas fa-info-circle"></i> Info</button>
        </li>
      </ul>

      <div class="tab-content mt-2">
        <!-- First tab content -->
        <div class="tab-pane active" id="layers">
          <!-- Add layer switcher widget -->
          <div id="layers" class="layer-switcher"></div>
        </div>
        <!-- Second tab content -->
        <div class="tab-pane" id="tools">
          <div class="form-group">
            <div id="gvz_search"></div>
          </div>
          <hr>
        </div>
        <!-- Third tab content -->
        <div class="tab-pane" id="info">
          <div id="info-wrap"><p>Click on the map to select a feature and see related attributes</p></div>
        </div>

      </div>

    </div>
  </div>
</div>
