
<div class="row">
  <!-- MAP -->
  <div class="col-9">
    <div id="map" class="col-md-12" style="min-width: 150px; height: 75vh"></div>
  </div>

  <!-- Tabs controllers -->
  <div class="col-3">
    <!-- <h3><?php print($title) ?></h3> -->

    <div id="exTab2" >
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#layers-tab" role="tab" aria-controls="home" aria-expanded="true">
            <i class="fas fa-layer-group"></i> Layers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tools-tab" role="tab" aria-controls="profile" aria-expandend="false">
            <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Tools -->
            <i class="fas fa-toolbox"></i> Tools
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#info-tab" role="tab" aria-controls="contact" aria-expanded="false">
            <!-- <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info -->
            <i class="fas fa-info-circle"></i> Info
          </a>
        </li>
      </ul>

        <div class="tab-content mt-2">

          <div class="tab-pane active" id="layers-tab">

            <!-- Add layer switcher widget -->
            <div id="layers" class="layer-switcher"></div>

          </div>

          <div class="tab-pane" id="tools-tab">

            <div class="form-group">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select spatial indicator
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="form-inline">
              <label for="amount">Year:</label>
              <input type="text" id="amount" style="-webkit-box-shadow:unset; box-shadow:unset; border: 0; font-weight: bold;" size="10" readonly>
            </div>

            <div class="form-group">
              <label for="slider-range">Select year</label>
              <div id="slider-range"></div>
            </div>

          </div>
          <div class="tab-pane" id="info-tab">
            <div id="info"><p>Click on the map to select a feature and see related attributes</p></div>
          </div>
        </div>
    </div>
  </div>
</div>
