
<div class="row">
  <!-- MAP -->
  <div class="col-9">
    <div id="map" class="col-md-12" style="min-width: 150px; height: 75vh"></div>
  </div>

  <!-- Tabs controllers -->
  <div class="col-3">
    <!-- <h3><?php print($title) ?></h3> -->

    <div id="exTab2" >
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#layers-tab" role="tab" aria-controls="home" aria-expanded="true">
            <i class="fas fa-layer-group"></i> Layers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tools-tab" role="tab" aria-controls="profile" aria-expandend="false">
            <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Tools -->
            <i class="fas fa-toolbox"></i> Tools
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#info-tab" role="tab" aria-controls="contact" aria-expanded="false">
            <!-- <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info -->
            <i class="fas fa-info"></i> Info
          </a>
        </li>
      </ul>

        <div class="tab-content ">

          <div class="tab-pane active" id="layers-tab">

            <!-- Add layer switcher widget -->
            <div id="layers" class="layer-switcher"></div>

          </div>

          <div class="tab-pane" id="tools-tab">
            <!-- <div class="form-group">
              <div class="row">
                <div class="col-md-3"><label for="year-select" style="height: 34px; padding: 6px 12px;">Anno:</label></div>
                <div class="col-md-8"><select class="form-control" id="year-select"></select></div>
              </div>
            </div> -->

            <!-- <div class="form-group">
              <div class="row">
                <div class="col-md-3"><label for="amount" style="height: 34px; padding: 6px 12px;">Settimana:</label></div>
                <div class="col-md-8"><input class="form-control" type="text" id="amount" style="-webkit-box-shadow:unset; box-shadow:unset; border: 0; font-weight: bold;" size="100"/></div>
              </div>
              <div id="slider-range"></div>
            </div> -->

            <div class="form-group">
              <label for="formControlRange">Example Range</label>
              <input type="range" class="form-control-range" id="formControlRange">
            </div>
          </div>
          <div class="tab-pane" id="info-tab">
            <div id="info"><p>Clic sugli elementi di un layer per visualizzare le informazioni disponibili</p></div>
          </div>
        </div>
    </div>
  </div>
</div>
